---
layout: default
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>{{ page.title }}</h1>
			<p class="subtext editable">{{ page.description }}</p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<section>
	<div class="blog-post text-container" id="learn-more">
        <div class="post-content" style='padding-top: 20px'>
            {{ content }}
        </div>
    </div>
</section>